.body {
  position: absolute;
  margin-top: 100px;
}


.Daniel {
  position: absolute;
  height: 200px;
  width: 400px;
  background-color: #4a47a3;
  color: white;
  border-radius: 10px;
  padding: 15px;
}
.image{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;

}
.svg{
  position: absolute;
  top: 0px;
}
.head1{
  margin-left: 20px;

}
.bold{
  font-weight: bold;
}
.head{
  line-height: 4%;
  margin-left: 20px;
  margin-bottom: 20px;
}
.para1{
  margin-left: 20px;
  font-size: 10px;
}
.head1{
  margin-top: 7px;
margin-bottom: 20px;
}
.Jonathan {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 470px;
  background-color: #5b6d5b;
  color: white;
  border-radius: 10px;
  padding: 15px;
}
.para{
  font-size:72%;
  margin-top: 20px;
}
.Kira {
  position: absolute;
  height: 465px;
  width: 200px;
  background-color: #faf3e0;
box-shadow: 20px 20px 10px #99bbad;
  border-radius: 10px;
  padding: 15px;
  left: 725px;
}

 .Harmon {
  position: absolute;
background-color: #faf3e0;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  padding: 15px;
  top: 270px;
  box-shadow: 20px 20px 10px #99bbad;

}

.Abrams {
  position: absolute;
  height: 200px;
  width: 400px;
  background-color: #e97878;
  border-radius: 10px;
  padding: 15px;
  color: white;
  top: 270px;
  left: 270px;
}
